/* Primary goal: to provide a thematic background image and font that do not clash */
body {
    background-color: rgb(0, 0, 0, 1);
    background-image: url(../images/theatre-curtain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Limelight";
    font-weight: 200;
}

h1 {
    text-align: center;
    letter-spacing: 0.2rem;
    color: antiquewhite;  
}

h2 {
    text-align: center;
    letter-spacing: 0.5rem;
    color: antiquewhite;
    font-weight: 100;
    font-size: 1rem;
}


/* Primary goal: to centre the quiz area and provide contrast with the body styling */
#quiz-area {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border: 2px solid rgb(176, 16, 16);
    border-radius: 50px;
    background-image: url(../images/blue-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5px;
}

#quiz {
    width: 95%;
}

/* Primary goal: to match the styling of quiz area */
#score-area {
    margin: 20px auto 0;
    width: 10%;
    text-align: center;
    border: 2px solid rgb(176, 16, 16);
    border-radius: 25%;
    background-image: url(../images/blue-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Primary goal: to offer a broad area for all the quiz answer options to inhabit */
#a, #b, #c {
    border: 1px solid antiquewhite;
    border-radius: 20px;
    padding: 2rem;
    width: 50%;
    margin: 10px auto;
    font-weight: 900;
    letter-spacing: 0.25rem;
    background-color: transparent;
    color: antiquewhite;
    max-width: 80%;
}

/* Primary goal: to maintain clolor scheme in submit element */
#submit {
    background-color: #8A0000;
    border: 2px solid rgb(176, 16, 16);
    width: 25%;
    height: 50px;
    border: 1px transparent;
    border-radius: 25px;
    color: antiquewhite;
    font-weight: 900;
    letter-spacing: 0.25rem;
}

/* The following styling is for the game over message that will present after the game is completed */
#final-message {
    margin: 0 auto;
}

#large-text {
    font-size: 5rem;
}

#small-text {
    font-size: 1.5rem;
}

/* Media query to determine style on screen larger than 1800px */

@media screen and (min-width: 1800px) {
    body {
        font-size: 200%;
    }

}

/* Media query to determine style on screen smaller than 1000px */

@media screen and (max-width: 1000px) {
    body {
        font-size: 80%;
    }
}

/* Media query to determine style on screen smaller than 750px */

@media screen and (max-width: 780px) {
    #quiz-area {
        width: 90%;
    }

    body {
        background-image: url(../images/project-background2.jpg);
    }

    #submit {
        font-size: 80%;
    }
}

/* Media query to determine style on screen smaller than 575px */

@media screen and (max-width: 575px) {
    body {
        font-size: 70%;
    }

    #large-text {
        font-size: 3rem;
    }

    #submit {
        font-size: 50%;
    }
}