body {
    background-image: url(../assets/images/theatre-curtain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Limelight";
    font-weight: 200;
}

#quiz-area {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border: 2px solid rgb(176, 16, 16);
    border-radius: 50px;
    background-image: url(../assets/images/blue-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#score-area {
    margin: 20px auto 0;
    width: 5%;
    text-align: center;
    border: 2px solid rgb(176, 16, 16);
    border-radius: 25%;
    background-image: url(../assets/images/blue-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#question {
    padding: 1rem;
    margin: 30px auto;
}

button {
    margin: 2rem;
}

h1 {
    text-align: center;
    padding: 2rem;
    letter-spacing: 0.2rem;
    color: antiquewhite;  
}

h3 {
    text-align: center;
    letter-spacing: 0.5rem;
    color: antiquewhite;
    font-weight: 100;
}

button {
    border: 1px solid antiquewhite;
    border-radius: 20px;
    padding: 2rem;
    width: 50%;
    margin: 10px auto;
    font-weight: 900;
    letter-spacing: 0.25rem;
    background-color: transparent;
    color: antiquewhite;
}

button:hover {
    border: 1px solid rgb(176, 16, 16);
    color: rgb(176, 16, 16);
}

.marker {
    color: rgb(176, 16, 16);
}

#submit {
    background-color: rgba(176, 16, 16, 0.81);
    width: 15%;
    height: 50px;
    border: 1px transparent;
    border-radius: 25px;
    color: antiquewhite;
}